// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Gradients
$section-gradient: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));

$card-gradient-1: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
$card-gradient-2: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
$card-gradient-3: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);

$box-gradient-clip: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%);

// Shadows
$shadow-shallow-min: 0 .5rem 1rem rgba($color-black, .2);
$shadow-raised-min: 0 1rem 2rem rgba($color-black, .2);

$shadow-shallow-light: 0 1.5rem 4rem rgba($color-black, .15);
$shadow-raised-light: 0 2.5rem 4rem rgba($color-black, .2);

$shadow-shallow-med: 0 1.5rem 4rem rgba($color-black, .2);
$shadow-raised-med: 0 2.5rem 4rem rgba($color-black, .27);

$shadow-shallow-dark: 0 1.5rem 4rem rgba($color-black, .4);
$shadow-raised-dark: 0 2.5rem 4rem rgba($color-black, .5);

$shadow-static-text: .5rem 1rem 2rem rgba($color-black, .2);
$shadow-static-link: .5rem 1rem 2rem rgba($color-black, .4);

$shadow-static-min: 0 1rem 2rem rgba($color-black, .1);
$shadow-static-min-blur: 0 1rem 3rem rgba($color-black, .1);
$shadow-static-light: 0 1rem 2rem rgba($color-black, .15);

$shadow-static-box: 0 3rem 6rem rgba($color-black, .1);

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Border Radius
$border-radius-min: .2rem;
$border-radius-small: .3rem;
$border-radius-button: 10rem;

// Font
$default-font-size: 1.6rem;

