.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;

    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark-1;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        transition: all .2s;
        
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover,
        &:active {
            color: $color-primary-light;
            box-shadow: $shadow-static-link;
            // Jonas' original animation
            // transform: rotate(5deg) scale(1.3);
            transform: scale(1.2);
        }


        // Doesn't look as planned now that the text color has been changed.
        // Fix before next course:
        &--deprioritize {
            &:link,
            &:visited {
                text-transform: none;
            }
        }
    }

    &__copyright {
        width: 80%;
        border-top: 1px solid $color-grey-dark-1;
        padding-top: 2rem;
        float: right;
    }
    
}

