.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9001;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
 
    &__content {
        @include absolute-center;
        width: 75%;
        background-color: $color-white;
        border-radius: $border-radius-small;
        box-shadow: $shadow-shallow-med;
        display: table;
        overflow: hidden;

        // Initial state for popup animation - including mixin transform
        opacity: 0;
        transform: translate(-50%, -50%) scale(.3);
        transition: all .4s .2s;

    }

    // Display table instead of float to ensure both __left and __width have same height
    &__left {
        display: table-cell;
        width: 33.33333334%;       
    }

    &__right {
        display: table-cell;
        width: 66.66666666%;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__image {
        display: block;
        width: 100%;

        // Personal preference
        margin: 1px 0px 0px 1px;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        // New properties to automatically format columns
        column-count: 2;
        column-gap: 5rem;
        column-rule: 1px solid $color-grey-light-2;

        // Chrome support appears limited to mobile at the moment
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
    }


    // Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark-1;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary-light;
        }
    }
    
    
}