*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// Leaving in _base as this is intended to define the value of rem as 10px, not typography:
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		font-size: 50%;
	}

	@include respond(big-desktop) {
		font-size: 75%;
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	// No more white padding around page after 900px screen width 
	@include respond(tab-port) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}