.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: $section-gradient, url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -10rem;

    // This skew could have been accomplished with clip-path like in the header,
    // but we're trying out a different method:
    transform: skewY(-7deg);
    
    //This compensates for the skew with all child elements:
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
}