.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: $section-gradient, url(../img/nat-4.jpg);
    background-size: cover;

    // Fix background open spaces after skew:
    margin-top: -10rem;
    margin-bottom: -10rem;

    // This skew could have been accomplished with clip-path like in the header,
    // but we're trying out a different method:
    transform: skewY(-7deg);
    
    // This compensates for the skew with all child elements:
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}

.section-book {
    padding: 15rem 0;
    background-image: $section-gradient;
}

.book {
    // "Solid color gradient" instead of clip-path for angled background color:
    background-image: $box-gradient-clip, url('../img/nat-10.jpg');
    background-size: cover;
    border-radius: $border-radius-small;
    box-shadow: $shadow-shallow-med;

    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}